<!DOCTYPE html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="nav-bar">
      <ul>
        <li>
          <a href='/'>DAXMO</a>
        </li>
        <li>
          <a href='/entries'>ENTRIES</a>
        </li>
        <li>
        <a href='/entries/new'>CREATE AN ENTRY</a>
        </li>
      <ul>
    </nav>
